{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head %}
  
{% endblock head %}
  <link rel="stylesheet" href="https://uicdn.toast.com/editor-plugin-code-syntax-highlight/latest/toastui-editor-plugin-code-syntax-highlight.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/themes/prism.min.css" />

{% block style %}

<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'CSS/reviews/detail.css' %}"
/>


{% endblock style %} 
{% block content %}
<div class="main__container">
  <div class="probelm-box">
    <hgroup>
      <h1 class="problem-title">{{ problem.title }}</h1>
      <h4 class="problem-user"><span>&#128035;</span> {{ problem.user }}</h4>
    </hgroup>
    <div class="probelm-content-box">
      <a href="{{ problem.url }}" class="problem-url">{{ problem.url }}</a>
      <div id="viewer"></div>
      {% comment %} <p class="problem-description">{{ problem.description|markdown }}</p> {% endcomment %}
    </div>
    <div class="problem-tag__container">
      {% for tag in problem.tags.all|dictsort:'name' %}
      <a href="">
        <span class="tag-item">#{{ tag }}</span>
      </a>
      {% endfor %}
    </div>
    <div class="problem-button-box">
      {% if user == problem.user %}
      <div style="display: flex;">
        <form action="{% url 'reviews:update' problem.pk %}" method="post">
          {% csrf_token %}
          <button type="submit" class="gray-button button-small joinbutton reset-style">문제 수정</button>
        </form>
        <form action="{% url 'reviews:delete' problem.pk %}" method="post">
          {% csrf_token %}
          <button type="submit" class="gray-button button-small joinbutton reset-style">문제 삭제</button>
        </form>        
      </div>
      {% endif %}
      {% include 'reviews/components/like.html' with obj=problem %}
    </div>
    <div class="submit-button">
      <a href="{% url 'reviews:review_create' problem.pk %}" class="button-small joinbutton reset-style">리뷰 작성하기</a>
    </div>
  </div>

  <ul class="review">
    {% for review in problem.review_set.all %}
    <div class="review-content">
      <li>{{ review.content|markdown }}</li>
      <div class="review-tag__container">
        {% for tag in review.tags.all|dictsort:'name' %}
        <a href="">
          <span class="tag-item">#{{ tag }}</span>
        </a>
        {% endfor %}
      </div>
      <div class="review-button-box">
        {% if user == review.user %}
        <form action="{% url 'reviews:review_update' review.pk %}" method="post">
          {% csrf_token %}
          <button type="submit" class="button-small joinbutton reset-style">리뷰 수정</button>
        </form>          
        {% endif %}
        {% include 'reviews/components/like.html' with obj=review %}
        
      </div>

      <ul id="comment-list-{{ review.pk }}" hx-swap="outerHTML">
        {% include 'reviews/comments/list.html' %}
      </ul>

      <hr>
      
      {# 버튼 클릭시 아래에 댓글 작성창이 생성됩니다. #}
      <div id="create-comment-on-{{ review.pk }}" hx-target="this" hx-swap="outerHTML" class="d-flex flex-row-reverse">
        <button id="add-comment-btn-{{ review.pk }}" hx-get="{% url 'reviews:comment_create' review.pk %}" class="button-small joinbutton">댓글 작성</button>
      </div>
    </div>
    {% endfor %}
  </ul>
</div>

<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
<script src="https://uicdn.toast.com/editor-plugin-code-syntax-highlight/latest/toastui-editor-plugin-code-syntax-highlight-all.min.js"></script>

<script>
  const Viewer = toastui.Editor;
  const { codeSyntaxHighlight } = Viewer.plugin;

  const viewer = new Viewer.factory({
      el: document.querySelector('#viewer'),
      viewer: true,
      height: '600px',
      initialValue: `{{ problem.description|markdown }}`,
      plugins: [codeSyntaxHighlight]
  });


</script>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="{% static 'reviews/like.js' %}"></script>
{% endblock content %}