{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block style %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'CSS/reviews/detail.css' %}"
/>
{% endblock style %}
{% block content %}
<div class="main__container">
  <div class="probelm-box">
    <hgroup>
      <h1 class="problem-title">{{ problem.title }}</h1>
      <h4 class="problem-user"><span>&#128035;</span> {{ problem.user }}</h4>
    </hgroup>
    <div class="probelm-content-box">
      <a href="{{ problem.url }}" class="problem-url">{{ problem.url }}</a>
      <p class="problem-description">{{ problem.description|markdown }}</p>
    </div>
    <div class="problem-button-box">
      {% if user == problem.user %}
      <div style="display: flex;">
        <form action="{% url 'reviews:update' problem.pk %}" method="post">
          {% csrf_token %}
          <button type="submit" class="gray-button button-small joinbutton reset-style">문제 수정</button>
        </form>
        <form action="{% url 'reviews:delete' problem.pk %}" method="post">
          {% csrf_token %}
          <button type="submit" class="gray-button button-small joinbutton reset-style">문제 삭제</button>
        </form>        
      </div>
      {% endif %}
      {% include 'reviews/components/like.html' with obj=problem %}
    </div>
    <div class="submit-button">
      <a href="{% url 'reviews:review_create' problem.pk %}" class="button-small joinbutton reset-style">리뷰 작성하기</a>
    </div>
  </div>

  <ul class="review">
    {% for review in problem.review_set.all %}
    <div class="review-content">
      <li>{{ review.content|markdown }}</li>
      <div class="review-button-box">
        {% if user == review.user %}
        <form action="{% url 'reviews:review_update' review.pk %}" method="post">
          {% csrf_token %}
          <button type="submit" class="button-small joinbutton reset-style">리뷰 수정</button>
        </form>          
        {% endif %}
        {% include 'reviews/components/like.html' with obj=review %}
        
        {# 버튼 클릭시 아래에 댓글 작성창이 생성됩니다. #}
        <button id="add-comment-btns" class="button-small joinbutton">댓글 작성</button>
        
      </div>
      
      {# 댓글 작성 form입니다. #}
      <form id="add-comment-form-{{ forloop.counter }}" action="{% url 'reviews:comment_create' review.pk %}" method="post" style="display: none;">
        {% csrf_token %}
        {% with comment_form.content as content %}
        <div class="form-group">
          {% comment %} <label for="{{ content.id_for_label }}">{{ content.label }}</label> {% endcomment %}
          <textarea id="{{ content.id_for_label }}" class="form-control my-3" placeholder="{{ content.label }}" name="{{ content.name }}"></textarea>
        </div>
        {% endwith %}
        <div class="d-flex flex-row-reverse">
          <button type="submit" class="button-small joinbutton">댓글 작성</button>
        </div>
      </form>

      <ul>
        {% for comment in review.comment_set.all %}
        <li>{{ comment.content|markdown }}</li>
        <form action="{% url 'reviews:comment_update' comment.pk %}" method="post">
          {% csrf_token %}
          <button type="submit">댓글 수정</button>
        </form>
        <form action="{% url 'reviews:comment_delete' comment.pk %}" method="post">
          {% csrf_token %}
          <button type="submit">댓글 삭제</button>
        </form>
        {% include 'reviews/components/like.html' with obj=comment %}
        {% endfor %}
      </ul>
    </div>
    {% endfor %}
  </ul>
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="{% static 'reviews/like.js' %}"></script>
<script>
  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
  
  // 댓글 작성 버튼 클릭시 아래에 숨겨져 있던 form이 기존 댓글 작성 버튼을 대체합니다.
  const addCommentBtns = document.querySelectorAll('#add-comment-btns')
  addCommentBtns.forEach((btn, idx) => {
    btn.addEventListener('click', (event) => {
      btn.setAttribute('style', 'display: none;')
      const form = document.getElementById(`add-comment-form-${idx+1}`)
      form.removeAttribute('style')
      
      // 대체된 댓글 작성 버튼 클릭시 비동기로 댓글을 생성 후 DB에 기록하고, 해당 댓글 내용을 아래에 추가합니다.
      form.addEventListener('submit', (e) => {
        e.preventDefault()
        const endpoint = e.target.attributes.action.value
        const headers = {
          'X-CSRFToken': csrftoken,
          'Content-Type': 'application/json',
        }
        const data = {'content': form.querySelector('textarea').value}
        axios.post(endpoint, data, {headers}).then((r) => {
          const content = r.data.content
          const deleteUrl = r.data.delete_url
          const updateUrl = r.data.update_url
          console.log(r)
        }).catch((error) => {
          console.log(error.response)
        })
      })
    })
  })

</script>
{% endblock content %}