{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}
<div class="row">
  <div class="col-8">
    <h1>문제 목록</h1>
    <ul>
      {% for problem in problems %}
      <li>
        <a href="{% url 'reviews:detail' problem.pk %}">{{ problem.title }}</a>
      </li>
      {% endfor %}
    </ul>
    <a href="{% url 'reviews:create' %}">문제 올리기</a>
  </div>
  <div class="col-4">
    <h4>태그 영역입니다</h4>
    <ul>
      {% for tag in tags %}
      <li>
        <a href="#">{{ tag.tag }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock content %}