{% extends 'base.html' %}
{% load socialaccount %}
<!-- 비밀번호 재설정 시 이메일 입력받는 템플릿 -->
{% load static %}
{% block style %}
  <link
  rel="stylesheet"
  type="text/css"
  href="{% static 'CSS/accounts/social/password_reset.css' %}"
  />
{% endblock style %}

{% block content %}
<div class="main__container">
  <div class="main__logobox">
    <img src="{% static 'IMAGE/altudy.png' %}" alt="알터디 로고" class="main__altudylogo">
  </div>
  <h1 class="main__title">비밀번호 찾기</h1>
  <div class="main__social-pwresetbox">
    <p>이메일을 전송했습니다. </p>
    <p>받지 못하셨다면 스팸함을 확인해주세요.</p>
  </div>
</div>
{% endblock %}