{% extends 'base.html' %}
{% load socialaccount %}
<!-- 비밀번호 재설정 시 이메일 입력받는 템플릿 -->
{% load static %}
{% block style %}
  <link
  rel="stylesheet"
  type="text/css"
  href="{% static 'CSS/accounts/social/password_reset.css' %}"
  />
{% endblock style %}

{% block content %}
<div class="main__container">
  <div class="main__logobox">
    <img src="{% static 'IMAGE/altudy.png' %}" alt="알터디 로고" class="main__altudylogo">
  </div>
  <h1 class="main__title">비밀번호 찾기</h1>
  <form method="POST" action="{% url 'account_reset_password' %}" class="main__social-pwresetbox">
    {% csrf_token %}
    <div>
        <p>
          <label for="id_email">복구 이메일</label>
          {{ form.email }}
        </p>
        <input type="submit" value="비밀번호 초기화" class="main__resetbutton"/>
    </div>
  </form>
</div>
{% endblock %}