{% extends 'base.html' %}
{% load socialaccount %}
<!-- 비밀번호 재설정 시 이메일 입력받는 템플릿 -->
{% load static %}
{% block style %}
  <link
  rel="stylesheet"
  type="text/css"
  href="{% static 'CSS/accounts/social/password_reset.css' %}"
  />
{% endblock style %}

{% block content %}
<div class="main__container">
  <div class="main__logobox">
    <img src="{% static 'IMAGE/altudy.png' %}" alt="알터디 로고" class="main__altudylogo">
  </div>
  <h1 class="main__title">비밀번호 재설정</h1>
  <div class="main__social-pwresetbox">
    <p>비밀번호가 변경되었습니다</p>
    <a href="{% url 'main' %}" class="main__reset-done-button">메인화면으로 이동</a>
  </div>
</div>
{% endblock %}