{% extends 'base.html' %}
{% load socialaccount %}
{% load static %}
{% block style %}
  <link
  rel="stylesheet"
  type="text/css"
  href="{% static 'CSS/accounts/change_password.css' %}"
  />
{% endblock style %}

{% block content %}
<div class="main__container">
  <div class="main__logobox">
    <img src="{% static 'IMAGE/altudy.png' %}" alt="알터디 로고" class="main__altudylogo">
  </div>
  <h1 class="main__title">비밀번호 재설정</h1>
  <form method="POST" action="{{ action_url }}" class="main__passwordbox">
    {% csrf_token %}
    <div>

      <p>
        <label for="id_passowrd1">새로운 비밀번호 입력</label>
        {{ form.password1 }}
        {% if form.errors.password1 %}
          <ul class="errorlist">
            {% for error in form.errors.password1 %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </p>
      <p>
        <label for="id_passowrd2">비밀번호 확인</label>
        {{ form.password2 }}
        {% if form.errors.password2 %}
          <ul class="errorlist">
            {% for error in form.errors.password2 %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </p>

      <input type="submit" name="action" value="비밀번호 변경" class="change-button"/>
    </div>
</form>
</div>
{% endblock content %}