{% extends 'base.html' %}
{% load static %}
{% block style %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'CSS/studies/announcement/announcement.css' %}"
/>
{% endblock style %}
{% block title %}공지{% endblock title %}


{% block content %}
<div class="main__container">
  <h1 class="main__container-title">스터디 공지를 등록하세요.</h1>
  {% for announcement in announcements %}
  <a href="{% url 'studies:announcement_detail' study.pk announcement.pk %}">
    <p class="content-box"><span>📌&nbsp&nbsp&nbsp</span>{{ announcement.title }}</p>
  </a>
  {% endfor %}

  {% if request.user == study.user %}
  <a href="{% url 'studies:announcement_create' study.pk %}" style="color: blue;">
    <div class="button button-small">스터디 공지 생성</div>
  </a>
  {% endif %}
</div>
{% endblock content %}
