
{% extends 'base.html' %}
{% load static %}

{% block style %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'CSS/studies/detail.css' %}"
/>
{% endblock style %}


{% block content %}
<header class="box">뒤로가기</header>
<main class="box">
  {# 스터디 디테일 내용 #}
  <article>
    <div class="study__container box">
      <div class="study__title"></div>
      <div class="study__userInfo">
        <div class="study_userInfo-badge">🐥</div>
        <div class="study_userInfo-username"></div>
      </div>
      <hr />
      <div class="study__info"></div>
      <div class="study__content">
        
        <div class="study__content-joinContainer box">
          {# 참여하기 버튼을 누르면, 참여 취소 버튼이 추가됨 #}
        </div>
      </div>
    </div>
  </article>
  {# 댓글 #}
  <article></article>
</main>

{% endblock content %}


