{% extends 'base.html' %}
{% load static %} 
{% block title %}index{% endblock title %} 
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'CSS/card.css' %}" />
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'CSS/studies/index.css' %}"
/>
{% endblock style %} 

{% block content %}
<main id="studies_list__wrapper">
  <section>
    {% if request.GET.query %}
    <div class="title">"{{ request.GET.query }}" 검색</div>
    {% else %}
    <div class="title">모든 스터디</div>
    {% endif %}
    <div class="language__container">
      {% for lang_name, lang_label in LANGUAGE_CHOICES  %}
        <button class='language-btn' data-lang ='{{ lang_name }}'>{{ lang_label }}</button>
      {% endfor %}
    </div>
    <div class="bottom-separator"></div>
    <div class="selected_languages__container">

    </div>
    <div class="joiningToggle__container">
      <div class="joiningToggel-title">모집중</div>
      <input type="checkbox" id="toggle" hidden> 
      <label for="toggle" class="toggleSwitch">
        <span class="toggleButton"></span>
      </label>
    </div>
  </section>
  <section>
    <article>
      <div class="cardlist__container">
        {% for study in studies %}
        <div class="card">
          <a href="{% url 'studies:detail' study.pk %}">
            <div>
              <div class="card__title">{{ study.title }}</div>
              <div class="card__content">
                {{ study.description|linebreaksbr }}
              </div>
              <div class="card__language-container">
                {% for language in study.language %}
                <div class="card__language">
                  <img
                    src="{% static 'IMAGE/hashlogo/'|add:language|add:'.png' %}"
                    alt="{{ language }} 언어 로고"
                  />
                </div>
                {% endfor %}
              </div>
            </div>
            <div class="card__footer">
              <div class="card__userinfo">
                <div class="card__badge">{{ study.user.emoji }}</div>
                <div class="card__username">{{ study.user }}</div>
              </div>
              <div class="card__headCount">{{ study.member_num }}/{{ study.capacity }}</div>
            </div>
          </a>
        </div>
        {% endfor %}
    </div>
    </article>
  </section>
  <a href="{% url 'main' %}" class="homebutton button-small">HOME</a>
</main>
<script type="text/javascript" src="{% static 'JS/filter.js' %}"></script>
<script type="module" src="{% static 'JS/clickBtn.js' %}"></script>
{% endblock content %}
