{% extends 'base.html' %} 
{% load static %} 
{% block style %}

<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'CSS/studies/mainboard.css' %}"
/>

{% endblock style %} {% block content %}
<div class="main__wrapper">
  <aside class="aside__container">
    <div class="aside__item" data-content="mainboard">대시보드</div>
    <div class="aside__item" data-content="problem">학습관리</div>
    <div class="aside__item" data-content="member">멤버관리</div>
  </aside>
  <section class="right-content__container">
    {% block right_content %}
    {% endblock right_content %}
    {#공지사항#}
    <section>
      {% if announcements %}
      <div class="right_content-title">📌 공지사항</div>
      {% for announcement in announcements  %}
        <div class="announcement-user">{{announcement.user}}</div>
        <div class="announcement-title">{{announcement.title}}</div>
        <div class="announcement-content">{{announcement.content}}</div>
      {% endfor %}
      {% endif %}
    </section>
    {#통계#}
    <section></section>
    {#멤버#}
    <section></section>
    {#제출해야할 과제#}
    <section></section>
  </section>
</div>

<script src="{% static 'JS/aside.js' %}"></script>
{% endblock content %}
