[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.6.0"
django = "==3.2.18"
pytz = "==2022.7.1"
sqlparse = "==0.4.3"
boto3 = "*"
mysqlclient = "*"
requests = "*"
ipython = "*"
django-extensions = "*"
django-debug-toolbar = "*"
django-storages = "*"
django-imagekit = "*"
pillow = "*"
python-dotenv = "*"
markdown = "*"
django-taggit = "*"
channels = "*"
daphne = "*"
django-allauth = "*"
django-multiselectfield = "==0.1.12"
django-rest-framework = "*"
celery = "*"
cryptography = "*"
graphene-django = "*"
graphene = "*"
django-htmx = "*"

[dev-packages]

[requires]
python_version = "3.11"
