.main__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  height: 100vh;
  justify-content: center;
}

.main__logobox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 5px;
  background-color: var(--color-gray-7);
  border-radius: var(--border-radius-soft);
}

.main__altudylogo {
  width: 60px;
  height: auto;
}

.main__social-pwresetbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

.main__social-pwresetbox label {
  margin: 10px 0;
  color: var(--color-gray-5);
  display: flex;
  align-items: center;
}

.main__social-pwresetbox input {
  background-color: var(--color-gray-1);
  border: 1px solid var(--color-gray-4);
}

.main__resetbutton {
  display: block;
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  background-color: var(--color-gray-6);
  color: var(--color-gray-6);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.main__resetbutton:hover {
  background-color: var(--color-gray-7);
  color: var(--color-gray-1);
}

.main__title {
  margin-top: 10px;
}

.main__reset-done-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 15px;
  padding: 10px;
  background-color: var(--color-gray-1);
  color: var(--color-gray-6);
  border: 1px solid var(--color-gray-5);
  border-radius: 5px;
  cursor: pointer;
}

.main__reset-done-button:hover {
  background-color: var(--color-gray-6);
  color: var(--color-gray-1);
}