.main__container {
  width: 1024px;
  padding: 0 32px;
  margin: 50px auto 0;
  display: flex;
}

.main__wrapper{
  margin-top: 20px;
}

@media screen and (max-width: 1023px) {
  .main__container {
    width: 100%;
    max-width: 1024px;
  }
}

.submit-button {
  padding: 15px;
  margin: 100px auto;
  background-color: var(--color-green);
  color: var(--color-white);
  font-weight: var(--weight-bold);
}

.submit-button:hover {
  background-color: var(--color-white);
  font-weight: var(--weight-bold);
  color: var(--color-gray-7);
  border: 3px solid var(--color-lightgreen);
}

.form-group {
  margin-top: 10px;
}

label {
  margin: 10px 5px;
  font-size: var(--font-regular);
}

.help-text {
  margin: 5px;
  color: var(--color-gray-4);
  font-size: var(--font-micro);

}

#editor{
  background-color: var(--color-white);
}