{% extends 'base.html' %}
{% load static %}
{% block style %}
  <link
  rel="stylesheet"
  type="text/css"
  href="{% static 'CSS/accounts/change_password.css' %}"
  />
{% endblock style %}

{% block content %}
<div class="main__container">
  <div class="main__logobox">
    <img src="{% static 'IMAGE/altudy.png' %}" alt="알터디 로고" class="main__altudylogo">
  </div>
  <h1 class="main__title">비밀번호수정</h1>
  <form action="{% url 'accounts:change_password' %}" method="POST" class="main__passwordbox">
    {% csrf_token %}
    <div>
      {{form.as_p}}
      <input type="submit" value="비밀번호변경" class="change-button">
    </div>
  </form>
</div>
{% endblock content %}