{% extends 'base.html' %}
{% load socialaccount %}
{% load static %}
{% block style %}
  <link
  rel="stylesheet"
  type="text/css"
  href="{% static 'CSS/accounts/login.css' %}"
  />
{% endblock style %}
{% block content %}
    <div class="main__login-container">
      <div class="main__logobox">
        <img src="{% static 'IMAGE/altudy.png' %}" alt="알터디 로고" class="main__altudylogo">
      </div>
      <form action="{% url 'accounts:login' %}" method="POST" class="main__loginbox">
        {% csrf_token %}
        <div>
          {{ form.as_p }}
          <input type="submit" value="로그인" class="main__loginbutton">
          <div class="main__socialbox">
            <a href="{% provider_login_url 'github'%}"><img src="{% static 'IMAGE/github.png' %}" alt="깃허브 로고" class="main__sociallogo"></a>
            <a href="{% provider_login_url 'google'%}"><img src="{% static 'IMAGE/google.png' %}" alt="구글 로고" class="main__sociallogo"></a>
          </div>
          <div>
            <p class="main__signupbutton-title">알터디 계정이 없으신가요?</p>
            <input type="submit" value="altudy 회원가입" class="main__signupbutton">
          </div>
          <div>
            <p class="main__signupbutton-title">비밀번호를 잊으셨나요?</p>
            <a href="{% url 'account_reset_password' %}" class="main__signupbutton">비밀번호 초기화</a>
          </div>
        </div>
      </form>
    </div>
{% endblock content %}