.main__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
  height: 100vh;
}

.main__logobox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 5px;
  margin-bottom: 30px;
  background-color: var(--color-gray-7);
  border-radius: var(--border-radius-soft);
}

.main__socialbox {
  margin-top: 20px;
  padding-top: 15px;
  text-align: center;
  border-top: 1px solid var(--color-gray-5);
}

.main__altudylogo {
  width: 60px;
  height: auto;
}

.main__updatebox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

.main__updatebox label {
  margin: 10px 0;
  color: var(--color-gray-5);
  display: flex;
  align-items: center;
}

.main__updatebox input {
  background-color: var(--color-gray-1);
  border: 1px solid var(--color-gray-4);
}

.main__title {
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
  margin-bottom: 30px;
}

.update-button, .password-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 15px;
  padding: 10px;
  background-color: var(--color-gray-1);
  color: var(--color-gray-6);
  border: 1px solid var(--color-gray-5);
  border-radius: 5px;
  cursor: pointer;
}

.update-button:hover, .password-button:hover {
  background-color: var(--color-gray-6);
  color: var(--color-gray-1);
}

.password-button-border {
  margin-top: 20px;
  border-top: 1px solid var(--color-gray-5);

}