{% load custom_filters %}

<!-- 각 comment 아이템입니다 -->
<!-- reviews/templates/reviews/comments/item.html -->
<div class="d-flex justify-content-between" id="comment-{{ comment.pk }}">
  <div>{{ comment.user }}</div>
  <div>{{ comment.updated_at|date:"D d M Y" }}</div>
</div>
<div>
  {{ comment.content|markdown }}
</div>
<div class="d-flex justify-content-between">
  {% if user == comment.user %}
  <div class="d-flex justify-content-around">
    <button id="edit-btn-{{ comment.pk }}" hx-get="{% url 'reviews:comment_update' comment.pk %}" class="button-small joinbutton" hx-target="#comment-item-{{ comment.pk }}-on-{{ review.pk }}" hx-swap="innerHTML">댓글 수정</button>
    <button class="button-small joinbutton" hx-delete="{% url 'reviews:comment_delete' comment.pk %}" hx-target="#comment-item-{{ comment.pk }}-on-{{ review.pk }}" hx-swap="outerHTML">댓글 삭제</button>
  </div>
  {% elif user.is_authenticated %}
  <div>
    {% include 'reviews/components/like.html' with obj=comment %}
  </div>
  {% endif %}
</div>