.main__container {
  width: 1024px;
  padding: 0 32px;
  margin: 50px auto 0;
  text-align: center;
}

@media screen and (max-width: 1023px) {
  .main__container {
    width: 100%;
    max-width: 1024px;
  }
}

.main__container-title {
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
  margin-bottom: 50px;
}

.content-box {
  display: flex;
  align-items: center;
  justify-content: start;
  height: 50px;
  padding: 10px 30px;
  margin-bottom: 10px;
  background-color: var(--color-white);
  border-radius: var(--border-radius-soft);
}

/* 버튼 */
.button {
  width: 150px;
  height: 30px;
  margin: 50px 20px;
}

.button:hover {
  background-color: var(--color-green);
  color: var(--color-white);
}

.homebutton {
  width: 90px;
  padding: 10px;
  margin: 20px 0;
  background-color: var(--color-green);
  color: var(--color-white);
  border: 1px solid var(--color-green);
  text-align: center;
  line-height: 10px;
}

.homebutton:hover {
  background-color: var(--color-white);
  color: var(--color-green);
  font-weight: var(--weight-semi-bold);
  transform: scale(1.05);
}

.mainboardbutton {
  width: 150px;
  padding: 10px;
  margin: 20px 0;
  background-color: var(--color-gray-6);
  color: var(--color-white);
  border: 1px solid var(--color-gray-6);
  text-align: center;
  line-height: 10px;
}

.mainboardbutton:hover {
  font-weight: var(--weight-semi-bold);
  transform: scale(1.05);
}